* {
  box-sizing: border-box;
}

.nav {
  background-color: #333;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
  width: 100%;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.nav a:hover {
  color: silver;
}

h1.title {
  margin: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: 8vh;
  color: rgb(255, 255, 255);
}

div.info {
  margin: 0 10vh 0;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  font-size: medium;
}

div.price-info {
  margin: 25vh 10vh 0;
  background-color: #333;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 2vh;
}

h2.info-head {
  margin: 10vh 10vh 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: x-large;
}

li.info-list {
  margin: 0;
  background-color: #333;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: x-large;
}
