* {
  box-sizing: border-box;
}

.nav {
  background-color: #333;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
  width: 100%;
  z-index: 9;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.nav a:hover {
  color: silver;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 200vh;
  font-family: "Cabin", Sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  background: black;
}

#hamburger-input {
  display: none;
}

#hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: "Cabin", Sans-serif;
  background: linear-gradient(
    to bottom,
    #333,
    #333 20%,
    white 20%,
    white 40%,
    #333 40%,
    #333 60%,
    white 60%,
    white 80%,
    #333 80%,
    #333 100%
  );
  z-index: 9;
}

#hamburger-menu #sidebar-menu {
  visibilty: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #333;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
  z-index: 9;
}

#hamburger-menu h3 {
  color: #b9faf8;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
  z-index: 9;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
  z-index: 9;
}

#hamburger-menu a {
  color: #b9faf8;
  font-size: 1.3rem;
  text-decoration: none;
  z-index: 9;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}

@media screen and (max-width: 750px) {
  .nav {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

h1.title {
  margin: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: 8vh;
  color: #b9faf8;
}

div.info {
  margin: 0 10vh 0;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: medium;
}

div.price-info {
  margin: 25vh 10vh 0;
  background-color: #333;
  display: flex;
  color: #ffffff;
  font-size: 2vh;
}

h2.info-head {
  margin: 10vh 10vh 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  color: #b9faf8;
  font-size: x-large;
}

.text {
  padding: 0rem 1rem;
}

li.info-list {
  margin: 5vh 10vh 0;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: x-large;
}

.link-buttons {
  margin: 0 10vh 0;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  color: #b9faf8;
  font-size: x-large;
}

.slick-list {
  z-index: -1;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem 2rem;
  width: 30rem;
}